# This is a project for portfolio creation By Dr.MobinMohammadi

## Look over Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Performing Some Analysis on over data

In [9]:
data_column = df.columns
data_column = data_column.to_list()
data_column

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [11]:
df['age'].mean()

39.20702541106129

In [21]:
print(f"Our data was collected in this regions: {', '.join(df['region'].unique().tolist())}")
print(f"Most of the Data was collected in {df['region'].mode()} region.")

Our data was collected in this regions: southwest, southeast, northwest, northeast
Most of the Data was collected in 0    southeast
Name: region, dtype: object region.

In [29]:
print("Average cost of smoker is: ", df[df["smoker"] == "yes"]['charges'].mean())
print("and average cost of non-smokers is: ", df[df["smoker"] == 'no']['charges'].mean())

Average cost of smoker is:  32050.23183153284
and average cost of non-smokers is:  8434.268297856204

In [34]:
number_of_children = df['children'].unique()
number_of_children.sort()
for i in number_of_children:
    print(f'Average Bmi in People with {i} children is: {df[df["children"] == i]["bmi"].mean()}')

Average Bmi in People with 0 children is: 30.550296167247385
Average Bmi in People with 1 children is: 30.623148148148147
Average Bmi in People with 2 children is: 30.978104166666665
Average Bmi in People with 3 children is: 30.684331210191086
Average Bmi in People with 4 children is: 31.391199999999998
Average Bmi in People with 5 children is: 29.605

###### This project will be updated